{% extends 'base.html' %}
{% block 'body' %}
    <style>
        .report-row {
            display: flex;
            justify-content: space-between;
            padding-top:5px;
            padding-bottom:5px;
            border-bottom: 1px solid rgb(167, 167, 167);
        }
        .report-heading {
            color:#dbdbdb;
            background-color: rgb(51, 51, 51);
            padding:5px;
            font-weight: bold;
            border-radius: 4px;
        }
    </style>
    <div class="mt-4 mb-3">
        <h2>Annotaion Audit Report</h2>
        <h4>{{ batch.name }}</h4>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    User
                </th>
                <th>
                    Time
                </th>
                <th>
                    Raw Ratio
                </th>
                <th>
                    Clean Ratio
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for row in report_rows %}
                <tr id="initial-tr-{{ row.s3_image_slug }}">
                    <td>
                        {{ row.test_completed_by }}
                    </td>
                    <td>
                        {{ row.test_completed_at|date:'M j,  g:iA'}}
                    </td>
                    <td>
                        {{ row.raw_ratio }}
                    </td>
                    <td>
                        {{ row.sanitized_ratio }}
                    </td>
                    <td>
                        <a id="exp-row-link-{{ row.s3_image_slug }}" href="#" onclick="expandRow('{{ row.s3_image_slug }}')">
                            view
                        </a>
                        <a id="col-row-link-{{ row.s3_image_slug }}" href="#" onclick="collapseRow('{{ row.s3_image_slug }}')" style="display:none;">
                            close
                        </a>
                        {{ row.flag }}
                    </td>
                </tr>
                <tr id="expand-tr-{{ row.s3_image_slug }}" style="display:none;" class="expanded-tr">
                    <td id="expand-td-{{ row.s3_image_slug }}" colspan=5>
                        <div class="alert alert-danger">
                            <strong>Test Text</strong><br>
                            {{ row.test_text }}
                        </div>
                        <div class="alert alert-success">
                            <strong>Control Text</strong><br>
                            {{ row.control_text }}
                        </div>
                        <div>
                            <img
                                src="{% url 'memetext-api-admin-download-image' row.s3_image_slug %}"
                                style="max-width:70vw; max-height:70vh"
                            >
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        function collapseAll(cb) {
            const elements = $(".expanded-tr")
            const ct = elements.length
            elements.each((ix, element) => {
                if((ix + 1) == ct) {
                    $(element).fadeOut(200, cb)
                } else {
                    $(element).fadeOut(200)
                }
            })
        }
        function expandRow(imageSlug) {
            collapseAll(()=>{
                $("#expand-tr-" + imageSlug).fadeIn(200)
                $("#exp-row-link-" + imageSlug).css("display", "none")
                $("#col-row-link-" + imageSlug).css("display", "inline")
            })
        }
        function collapseRow(imageSlug) {
            $("#expand-tr-" + imageSlug).fadeOut(200)
            $("#exp-row-link-" + imageSlug).css("display", "inline")
            $("#col-row-link-" + imageSlug).css("display", "none")
        }
    </script>
{% endblock %}
