<!DOCTYPE html>
<html>
    <head>
        <title>Annotater</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body {
                font-family: Arial;
            }
        </style>
    </head>
    <body>
        <h1 class="text-center">
            Anno-Tater
            ⌚ 🥔
        </h1>
        <img
            src="https://media.giphy.com/media/3oEdva9BUHPIs2SkGk/giphy.gif"
            width="280px"
        >
        <br>
        <img
            src="https://media.giphy.com/media/5xtDarEgBDjEoWo6VRS/giphy.gif"
            width="328px"
        >
    </body>
</html>
